@import '_normalize';
@import '_reset';
@import '_base';

.l-header {
  padding: 60px;

  h1 {
    font-size: 18px;
  }

  .profile {
    font-size: 12px;
    // margin-bottom: 30px;
  }
}

.l-main {
  max-width: 100%;
  padding: 0 0 60px 60px;

  .profile {
    margin-bottom: 60px;

    .profile__timeline {
      width: 100%;
      margin-bottom: 60px;

      dt {
        display: block;
        margin-right: 20px;
        float: left;
        clear: left;
      }

      dd {
        display: block;
        float: left;
      }
    }
  }
}